[submodule "code-0"]
	path = code-0
	url = https://github.com/morancj/code-0.git
	branch = .
[submodule "documentation-0"]
	path = documentation-0
	url = https://github.com/morancj/documentation-0.wiki.git
	branch = develop
